.productscreen {
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.productscreen__left {
    width: 40%;
}

.productscreen__middel {
    width: 30%;
}

.productscreen__description {
    white-space: normal;
    overflow: hidden;
    text-overflow: "...";
    height: 56px;
}

.productscreen__right {
    width: 23%;
}



