.homescreen {
    max-width: 1300px;
    margin: 3rem auto;
}

.homescreen__header {
    font-size: 3rem;
    margin-bottom: 25px;
}

.homescreen__products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}


@media (max-width:1000px) {
    .homescreen__products {
         grid-template-columns: repeat(3,1fr);
    }
    .homescreen__header {
        font-size: 2.5rem;
    }
}

@media (max-width:600px) {
    .homescreen__products {
        grid-template-columns: repeat(2,1fr);
    }
    .homescreen__header {
        font-size: 2rem;
    }
}