
.sidedrawer {
    position: fixed;
    background-color: aliceblue;
    width: 60%;
    height: 100vh;
    z-index: 100;
    top:0;
    left:0;
    bottom: 0;
    transform: translateX(-100%);
    transition:transform 0.4s linear ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidedrawer.show {
    transform: translateX(0%);
}

.sidedrawer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
        text-align: center;
        width: 100%;
}

.sidedrawer__item {
    margin-top: 20px;
    width: 100%;
}

.sidedrawer__link {
    text-decoration: none;
    color:black;
   
    font-size: 2.3rem;
}

@media (min-width:768px) {
    .sidedrawer {
        display: none;
    }
}